@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Work+Sans:wght@600&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 2rem;
}
li {
    margin: 1rem;
}