@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');

:root {
    --red: rgb(255, 255, 255);
    --red-transparent: rgba(0, 26, 255, 0.084);
    --dark-red: #0f00b2;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Alegraya Sans', sans-serif;
}
.changeTime {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.minutesInputLabel {
    color: var(--dark-red);
    font-weight: 500;
}
.minutesInput {
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid var(--dark-red);
    font-weight: 800;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: unset;
}

.minutesInputButton {
    border: 3px solid var(--dark-red);
    color: var(--dark-red);
    background-color: unset;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.editIcon {
    cursor: pointer;
    margin-bottom: 1rem;
}
.pattern {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    object-fit: cover;
}
.time {
    font-size: calc(10*2.3vw);
    margin: calc(1*2.3vw);
    color: var(--dark-red);
    text-shadow: 1vw 1vw var(--red-transparent);
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.start {
    margin-right: calc(1*2.3vw);
    font-size: calc(2*2.3vw);
    outline: none;
    border: none;
    color: var(--red);
    font-weight: 800;
    border-radius: 8%;
    padding: calc(1*2.3vw) calc(3*2.3vw);
    background-color: var(--dark-red);
    transition: all 200ms ease;
    cursor: pointer;
    font-family: 'Alegraya Sans', sans-serif;

}
.start:hover {
    background:#07003f;
    transition: all 300ms ease-in-out;
    transform: scale(1.05);
}
.restart {
    cursor: pointer;
    height: calc(6*2.3vw);
    width: calc(6*2.3vw);
}
.restart:hover {
    transform: rotate(360deg) scale(1.1);
    transition: transform 500ms;
} 
.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}